<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Счет</title>
</head>

<body>

<div th:replace="general :: page-header"> </div>

<div class="account">
    <div id="accountInfo">
        <p th:text="'Клиент:     ' + ${clientService.getById(account.getClient_id().getId()).getName()}"></p>
        <p th:text="'Отделение:  ' + ${officeService.getById(account.getOffice_id().getId()).getName()}"></p>
        <p th:text="'Баланс:     ' + ${account.getCurbalance()}"></p>
        <p th:text="'Начисления: ' + ${account.getCuraccum()}"></p>

        <form style="margin-right: 30px" method="get" action="/editAccount">
            <input type="hidden" name="accountId" th:value="${account.getId()}"/>
            <button id="editButton" type="submit">Редактировать</button>
        </form>
        <form style="margin-right: 30px" method="post" action="/removeAccount">
            <input type="hidden" name="accountId" th:value="${account.getId()}"/>
            <button id="deleteButton" type="submit">Удалить</button>
        </form>
        <br>
    </div>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>
