<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Редактировать</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="general :: page-header"> </div>

<div class="editOffice">
    <table>
        <tbody>
        <form method="post" action="/saveOffice">
            <tr>
            <td><input type="hidden" name="officeId" th:value="${office.getId()}"/></td>
            </tr>

            <tr>
            <td><label for="abc">ФИО:</label></td>
            <td><input type="text" id="officeName"  name="officeName" required th:value="${office.getName()}"></td>
            </tr>

            <tr>
            <td><label for="abc">Адрес:</label></td>
            <td><input type="text" id="officeAddress"  name="officeAddress" required th:value="${office.getAddress()}"></td>
            </tr>

            <tr>
                <td><label for="abc">email:</label></td>
                <td><input type="text" id="officeEmail"  name="officeEmail" required th:value="${office.getEmail()}"></td>
            </tr>

            <tr>
            <td><label for="abc">Телефон 1:</label></td>
            <td><input type="text" id="officeTel1"  name="officeTel1" required th:value="${office.getTelnumber1()}"></td>
            </tr>

            <tr>
            <td><label for="abc">Телефон 2:</label></td>
            <td><input type="text" id="officeTel2"  name="officeTel2" th:value="${office.getTelnumber2()}"></td>
            </tr>

            <tr>
            <td><input id="submitButton" type="submit" value="Сохранить"></td>
            </tr>
        </form>
        </tbody>
    </table>
</div>

<div th:replace="general :: site-script"></div>

</html>
