<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Отделения</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="general :: page-header"> </div>

<div class="offices">
    <h4>Добавить отделение:</h4>

    <table>
        <tbody>
        <form method="post" action="/saveOffice">
            <tr>
            <td><label for="abc">Название:</label></td>
            <td><input type="text" id="officeName" required name="officeName"></td>
            </tr>

            <tr>
            <td><label for="abc">Адрес:</label></td>
            <td><input type="text" id="officeAddress" required name="officeAddress"></td>
            </tr>

            <tr>
                <td><label for="abc">email:</label></td>
                <td><input type="text" id="officeEmail" required name="officeEmail"></td>
            </tr>

            <tr>
            <td><label for="abc">Телефон 1:</label></td>
            <td><input type="text" id="officeTel1" required name="officeTel1"></td>
            </tr>

            <tr>
            <td><label for="abc">Телефон 2:</label></td>
            <td><input type="text" id="officeTel2" required name="officeTel2"></td>
            </tr>

            <tr>
            <td><input id="submitButton" type="submit" value="Добавить"></td>
            </tr>
        </form>
        </tbody>
    </table>
    <br>
    
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Название </th>
            <th scope="col"> Адрес </th>
            <th scope="col"> email </th>
        </tr>
        </thead>
        <tbody id="table">
        <tr th:each="office : ${offices}">
            <td><a th:href="'/office?officeId=' + ${office.getId()}">
                <span th:text="${office.getName()}"> </span></a></td>

            <td><span th:text="${office.getAddress()}"> </span></td>

            <td><span th:text="${office.getEmail()}"> </span></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>
